!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    title miao de C☕fe
  body
    #content
      h1 miao de C☕fe
      #message Attempting to connect to the server over websockets or Socket.IO fallback transports...
      #testArea
      form#demo(onsubmit='return false')
        #chatlog
        input(id='myMessage', type='text', autocomplete='off')
    #footer An chat test server, powered by ☕ and socketstream


